$grid-gap-value: 24px;
$font-color: #101820;
$text-color: #697b95;
$border-color: #d2dce8;
$button-color: #76e691;
$button-border-color: #53b16a;
$link-color: #008fff;
$font-size: 14px;
$max-width: 770px;
